APP_NAME=FoodiePro Backend
MONGO_URL=mongodb+srv://Foodiepro:Foodiepro%40123@cluster0.wc6wawy.mongodb.net/foodiepro?appName=Cluster0
DB_NAME=foodiepro
RAZORPAY_KEY_ID=rzp_test_SLj72bjD4is5HQ
RAZORPAY_SECRET=ljx0izInfaMTglrVJFs30kGM